/* *, 
*::before,
*::after {
    box-sizing: border-box;
} */

/* Nunito font regular */
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital@1&display=swap');

/* Nunito font bold */
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,700;1,400&display=swap');

:root {
    --primary: #4E60FF;
    --primary-light: #F3F4FF;    
    --white: #fff;
    --dark: #2B2B43;
    --grey: #83859C;
    --grey-light: #C7C8D2;
    --grey-lightest: #EDEEF2;
    --error: #FF5C60;
    --bluw: #697Bff;
    --bluw-light: #697BFF;
    --black: #545563;

    --breakpoint-mobile: 768px;
    --breakpoint-desktop: 1110px;
}



/* Container*/
.container {
    width: 100%;
    margin: 0 auto;
    max-width: var(--breakpoint-desktop);
}

/*HERO*/
.hero {
    max-width: var(--breakpoint-desktop);
    width: 100%;
    margin: 0 auto;
}

.hero_inner {
    margin: 0 auto;
    width: 100%;
    box-sizing: border-box;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-gap: 15px;
}

.hero_item {
    height: 80px;
    border: 1px solid var(--grey-lightest);
    border-radius: 16px;
    background: var(--white);

    text-align: center;
}

.hero_item:hover {
    border: 1px solid var(--bluw);
    cursor: pointer;
    background-color: var(--grey-lightest);
}

.hero_img {
    margin: 10px 0;
    width: 24px;
    height: 24px;
}

/* a:visited {
    color: var(--black);
} */

a {
    text-decoration: none;
}

.hero_name {
    font-style: 13px;
    font-weight: 700;
    color: var(--black);
    font-family: 'Nunito',sans-serif;
    font-style: normal;
    line-height: 18px;
    letter-spacing: 0.1px;
}

.hero_name:hover {
    color: var(--bluw-light);
}

/* for mobile version */
@media screen and (max-width: 768px) {
    .container {
        padding: 0;
    } 

    .hero_inner {
        grid-template-columns: repeat(3, 1fr);
        padding: 0 15px;
    }
}