/* Nunito font regular */
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital@1&display=swap');

/* Nunito font bold */
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,700;1,400&display=swap');

:root {
    --primary: #4E60FF;
    --primary-light: #F3F4FF;
    --white: #fff;
    --dark: #2B2B43;
    --grey: #83859C;
    --grey-light: #C7C8D2;
    --grey-lightest: #EDEEF2;
    --error: #FF5C60;

    --breakpoint-mobile: 768px;
    --breakpoint-desktop: 1110px;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}


.container {
    width: 100%;
    margin: 0 auto;
    max-width: var(--breakpoint-desktop);
}

.header__menu {
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--white);
    border-bottom: 1px solid var(--primary-light);
}

.header__menu--left-side {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.header__menu--logo {
    width: 79px;
    height: 40px;
}

.header__menu--search {
    position: relative;
    margin-left: 48px;
}

.header__menu--search-input {
    font-family: 'Nunito', sans-serif;
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
    letter-spacing: 0.1px;
    background-color: var(--grey-lightest);
    padding: 10px 12px;
    padding-right: calc((12px * 2) + 16px);
    border-radius: 12px;
    border: none;
    outline-color: var(--primary);
    height: 40px;
    min-width: 224px;
    box-sizing: border-box;
}

.header__menu--search-icon {
    position: absolute;
    color: var(--grey);
    width: 16px;
    height: 16px;
    top: calc((40px - 16px) / 2);
    right: calc((40px - 16px) / 2);
}

/*  Here you can define styles how to create menu right side  */

.header__menu--right-side {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.header__menu--link {
    display: flex;
}

.menu_link {
    text-decoration: none;
    font-family: 'Nunito', sans-serif;
    font-weight: 700;
    font-size: 14px;
    line-height: 20px;
    color: var(--dark);
    list-style: none;
    margin: 0 28px;
}

.menu_link:hover {
    color: var(--primary);
    transition: .5s;
}

.header__navbar {
    display: flex;
    justify-content: space-between;
}

.header__menu--link-before {
    border-right: 1px solid var(--grey-lightest);
    height: 32px;
    margin-top: -6px;
}

.header__menu--icon {
    position: relative;
    margin-right: 12px;
}

.header__menu--icon-item {
    background-color: var(--primary-light);
    padding: 16px;
    border-radius: 16px;
}

.header__menu--icon-number {
    position: absolute;
    background-color: #4E60FF;
    border-radius: 8px;
    padding: 2px 6px;
    color: var(--white);
    right: -6px;
    top: -6px;
}

.header__menu--useravatar {
    border: 2px solid #EDEEF2;
    border-radius: 16px;
    padding: 2px;
}

.header__menu--icon-mobile {
    display: none;
}

/* cards section */
.card {
    margin-left: 300px;
    background-color: #ffffff;
    border: 1px solid #EDEEF2;
    border-radius: 16px;
    width: 350px;
    height: 276px;
}

.card__header {
    background-image: url(../img/CardImg1.png);
    height: 160px;
    border-radius: 16px 16px 0 0;
    position: relative;
}

.card__image--h1 {

    font-family: 'Nunito', sans-serif;
    font-weight: 700;
    font-size: 11px;
    line-height: 16px;
    display: inline;
    padding: 8px 16px;
    margin: 0 0 0 254px;
    position: absolute;
    align-items: center;
    letter-spacing: 0.6px;
    text-transform: uppercase;
    color: #fff;
    background: #4E60FF;
    border-radius: 0px 16px;
}

.card__content {
    padding: 0 16px 16px 16px;
}

.card__content---top {
    display: flex;
    justify-content: space-between;
}

.card__content---top-title {
    font-family: 'Nunito', sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 24px;
    letter-spacing: 0.1px;
    color: #2B2B43;
}

.card__content---top-icon {
    padding-top: 16px;
}

.card__content---bottom {
    display: flex;
}

.card__content---bottom-text {
    font-family: 'Nunito', sans-serif;
    font-weight: 600;
    font-size: 12px;
    line-height: 16px;
    color: #83859C;
    padding-left: 7px;
}

/* Here you can define styles how to change on mobile  */
@media screen and (max-width: 768px) {
    .container {
        padding: 0 15px;
    }

    .header__menu--search {
        display: none;
    }

    .header__menu--logo {
        padding-left: 15px;
    }

    .header__menu--link {
        display: none;
    }

    .header__navbar {
        display: flex;
        justify-content: flex-start;
    }

    .header__menu--icon {
        margin-left: 59px;
    }

    .header__menu--useravatar {
        border: 2px solid var(--primary);
        margin-left: 12px;
    }

    .header__menu--useravatar-before {
        margin-left: 19px;
        border: 1px solid var(--grey-lightest);
        height: 32px;
        color: var(--grey);
    }

    .header__menu--icon-mobile {
        display: block;
        background: #EDEEF2;
        border-radius: 16px;
        padding: 14px;
        margin-left: 16px;
        cursor: pointer;
        border: 1px solid var(--white);
    }

    .header__menu--icon-mobile:hover {
        border: 1px solid var(--primary);
    }

}