/* Nunito font regular */
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital@1&display=swap');

/* Nunito font bold */
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,700;1,400&display=swap');



:root {
    --primary: #4E60FF;
    --primary-light: #F3F4FF;
    --white: #fff;
    --dark: #2B2B43;
    --grey: #83859C;
    --grey-light: #C7C8D2;
    --grey-lightest: #EDEEF2;
    --error: #FF5C60;
    --orange: #FD6D22;
    --breakpoint-mobile: 768px;
    --breakpoint-desktop: 1110px;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}


.container {
    width: 100%;
    margin: 0 auto;
    max-width: var(--breakpoint-desktop);
}

.deals {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 32px;
}

.deal__right {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #F3F4FF;
    border-radius: 16px;
    padding-right: 24px;
}

.deal__left {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #FFF3ED;
    border-radius: 16px;
    padding-right: 24px;
}

.deals img {
    width: 100%;
    background-size: cover;
}

.deal-title {
    font-family: 'Nunito', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 28px;
    letter-spacing: 0.1px;
    color: #2B2B43;
}

.deal-text {
    font-family: 'Nunito', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.1px;
    color: #83859C;
}

.deal-percentage {
    font-family: 'Nunito', sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 40px;
    line-height: 56px;
    letter-spacing: 0.1px;
    padding-bottom: 36px;
}

.deal-primary {
    color: var(--primary);
}

.deal-orange {
    color: var(--orange);
}

/* Here you can define styles how to change on mobile  */
@media screen and (max-width: 1026px) {
    .container {
        padding: 0 15px;
    }

    .deals {
        display: block;
    }

    .deal__right {
        display: flex;
        flex-direction: column-reverse;
        margin-bottom: 30px;

    }

    .deal__left {
        display: flex;
        flex-direction: column-reverse;
    }

    .deal-title {
        padding-top: 16px;
        text-align: center;
    }

    .deal-percentage {
        padding-bottom: 0;
    }

    .deal-text {
        text-align: center;
    }
}